.root {
  margin-bottom: 1em;
}

.selects {
  display: flex;
  flex-wrap: wrap;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(235px, 1fr));
  grid-gap: 1em 2em;
}

.form {
  position: relative;
}

.nameInput {
  border: 0;
  width: 100%;
  border-bottom: 1px solid map(colors, primary, dark);
}

.label {
  color: map(colors, primary, dark);
  position: absolute;
  font-weight: normal;
  pointer-events: none;
  left: 0;
  bottom: 0;
  transition: .4s;
}

.nameInput:focus ~ .label,
.nameInput:valid ~ .label {
  bottom: 80%;
  font-size: .75em;
}

.activeFilter {
  border: 1px solid map(colors, primary, base);
  padding: 0.35em;
  border-radius: 5px;
  background-color: transparent;
  font-size: .9em;
  text-align: left;
  margin-right: 1em;
  position: relative;
  transition: padding .2s;
}

.activeFilter:hover {
  padding-right: 2em;
}

.title {
  font-size: .8em;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
}

.cross {
  position: absolute;
  right: 1.25em;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity .2s;
}

.cross::before,
.cross::after {
  content: '';
  width: 1em;
  height: 1px;
  background-color: currentColor;
  display: block;
  transform: rotate(90deg);
  position: absolute;
  top: 0;
  transition: transform .2s;
}

.cross::after {
  transform: rotate(-90deg);
}

.activeFilter:hover .cross {
  opacity: 1;
}

.activeFilter:hover .cross::before {
  transform: rotate(45deg);
}

.activeFilter:hover .cross::after {
  transform: rotate(-45deg);
}